/*por que tengo que poner lo del body y lo del html?*/

body, html {
  height: 100%;
     /* The image used */
     background-image: url("../img/bg-cine2.png");
  
     /* Full height */
     height: 100%;
   
     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}


  