/*por que tengo que poner lo del body y lo del html?*/

body,
html {
  background-image: url("../img/bg-cine2.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
}